@import 'bootstrap';
@import 'bootstrap/theme';

.auth {
  background: image-url('logo.png') no-repeat transparent;
  display: inline-block;
  &.github {
    width: 64px;
    height: 64px;
  }
}

#comments {
  max-height: 500px;
  overflow: auto;
}